# 1. Importing libraries

In [4]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 2. Importing data

In [6]:
path = r'C:\Users\nanh9\10.10.2024 Instacart Basket Analysis'

In [7]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'ords_prods_merge.pkl'))

In [8]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,3139998,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,1977647,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,389851,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,652770,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,1813452,3,4,17,9.0,False,11,1,both

In [9]:
df = df_ords_prods_merge[:1000000]

# 3. Define a function

In [11]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [12]:
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\nanh9\AppData\Local\Temp\ipykernel_14988\2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [13]:
df.value_counts()

product_id  product_name                aisle_id  department_id  prices  order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  days_since_last_order  first_order  add_to_cart_order  reordered  _merge  price_range
1           Chocolate Sandwich Cookies  61        19             5.8     1107      1107     2             1                   11                 7.0                    False        7                  0          both    Mid-range product    1
1359        Organic Turmeric            104       13             11.2    1962386   1962386  15            2                   22                 3.0                    False        16                 0          both    Mid-range product    1
                                                                         1927902   1927902  5             0                   15                 7.0                    False        6                  0          both    Mid-range product    1
                                                                         1929335   1929335  25            0                   10                 7.0                    False        13                 0          both    Mid-range product    1
                                                                         1931232   1931232  4             2                   22                 6.0                    False        20                 0          both    Mid-range product    1
                                                                                                                                                                                                                                               ..
546         Tomatillo Salsa             51        13             6.0     3229928   3229928  15            1                   13                 10.0                   False        11                 0          both    Mid-range product    1
                                                                         3230356   3230356  57            3                   20                 1.0                    False        6                  0          both    Mid-range product    1
                                                                         3230419   3230419  4             2                   23                 30.0                   False        3                  0          both    Mid-range product    1
                                                                         3230687   3230687  13            6                   10                 6.0                    False        4                  1          both    Mid-range product    1
2078        Unsalted Pure Irish Butter  36        16             13.5    3421027   3421027  64            2                   20                 2.0                    False        10                 0          both    Mid-range product    1
Name: count, Length: 933795, dtype: int64

In [14]:
df['prices'].max()

24.5

In [15]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\nanh9\AppData\Local\Temp\ipykernel_14988\1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df.value_counts()

product_id  product_name                aisle_id  department_id  prices  order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  days_since_last_order  first_order  add_to_cart_order  reordered  _merge  price_range        price_range_loc
1           Chocolate Sandwich Cookies  61        19             5.8     1107      1107     2             1                   11                 7.0                    False        7                  0          both    Mid-range product  Mid-range product    1
1359        Organic Turmeric            104       13             11.2    1962386   1962386  15            2                   22                 3.0                    False        16                 0          both    Mid-range product  Mid-range product    1
                                                                         1927902   1927902  5             0                   15                 7.0                    False        6                  0          both    Mid-range product  Mid-range product    1
                                                                         1929335   1929335  25            0                   10                 7.0                    False        13                 0          both    Mid-range product  Mid-range product    1
                                                                         1931232   1931232  4             2                   22                 6.0                    False        20                 0          both    Mid-range product  Mid-range product    1
                                                                                                                                                                                                                                                                  ..
546         Tomatillo Salsa             51        13             6.0     3229928   3229928  15            1                   13                 10.0                   False        11                 0          both    Mid-range product  Mid-range product    1
                                                                         3230356   3230356  57            3                   20                 1.0                    False        6                  0          both    Mid-range product  Mid-range product    1
                                                                         3230419   3230419  4             2                   23                 30.0                   False        3                  0          both    Mid-range product  Mid-range product    1
                                                                         3230687   3230687  13            6                   10                 6.0                    False        4                  1          both    Mid-range product  Mid-range product    1
2078        Unsalted Pure Irish Butter  36        16             13.5    3421027   3421027  64            2                   20                 2.0                    False        10                 0          both    Mid-range product  Mid-range product    1
Name: count, Length: 933795, dtype: int64

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [22]:
df_ords_prods_merge.value_counts()

product_id  product_name                               aisle_id  department_id  prices  order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  days_since_last_order  first_order  add_to_cart_order  reordered  _merge  price_range_loc
1           Chocolate Sandwich Cookies                 61        19             5.8     1107      1107     2             1                   11                 7.0                    False        7                  0          both    Mid-range product    1
33264       Protein Bar, Vanilla Almond Crunch Flavor  3         19             3.8     845905    845905   44            3                   14                 1.0                    False        12                 1          both    Low-range product    1
                                                                                        753507    753507   38            4                   16                 6.0                    False        9                  1          both    Low-range product    1
                                                                                        671453    671453   2             0                   16                 28.0                   False        19                 0          both    Low-range product    1
                                                                                        645219    645219   6             4                   19                 30.0                   False        2                  0          both    Low-range product    1
                                                                                                                                                                                                                                                              ..
18288       Sea Salt Potato Chips                      107       19             3.9     2046499   2046499  26            2                   16                 15.0                   False        1                  1          both    Low-range product    1
                                                                                        2046483   2046483  7             3                   18                 13.0                   False        9                  0          both    Low-range product    1
                                                                                        2046211   2046211  5             6                   13                 13.0                   False        8                  1          both    Low-range product    1
                                                                                        2045676   2045676  5             5                   16                 13.0                   False        2                  0          both    Low-range product    1
49688       Fresh Foaming Cleanser                     73        11             13.5    3290206   3290206  3             0                   9                  14.0                   False        10                 0          both    Mid-range product    1
Name: count, Length: 30323987, dtype: int64

In [23]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6203329
1    5659298
6    4495887
2    4213105
5    4205076
3    3839865
4    3783172
Name: count, dtype: int64

# 4. Create a for loop

In [25]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [26]:
print(result)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [27]:
df_ords_prods_merge['busiest_day'] = result

In [28]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22413231
Busiest day        6203329
Least busy         3783172
Name: count, dtype: int64

In [29]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,3139998,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,1977647,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,389851,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,652770,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,1813452,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy

# Task 4.7

# Busiest days of the week

In [32]:
result_2 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")  
  elif value == 3 or value == 4:
    result_2.append("Least busy")
  else:
    result_2.append("Regularly busy")

In [33]:
print(result_2)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [34]:
df_ords_prods_merge['busiest_days'] = result_2

In [35]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12914068
Busiest days      11862627
Least busy         7623037
Name: count, dtype: int64

In [36]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,3139998,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,1977647,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,389851,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,652770,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Least busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,1813452,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Least busy

The sum of the busiest days categories (32.434.212) match the busiest day categories as well as the total row count of the dataframe.

# Busiest hours of the day

In [39]:
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

order_hour_of_day
10    2761333
11    2735694
14    2688728
15    2661718
13    2660570
12    2618104
16    2534744
9     2453842
17    2087273
8     1717863
18    1636226
19    1258076
20     976000
7      890923
21     795528
22     634159
23     402272
6      290450
0      218742
1      115683
5       87944
2       69360
4       53232
3       51268
Name: count, dtype: int64

In [40]:
result_3 = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value in [10,11,14,15,13,12,16,9]:
    result_3.append("Most orders")  
  elif value in [17,8,18,19,20,7,21,22]:
    result_3.append("Average orders")
  else:
    result_3.append("Fewest orders")

In [41]:
print(result_3)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [42]:
df_ords_prods_merge['busiest_period_of_day'] = result_3

In [43]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21114733
Average orders     9996048
Fewest orders      1288951
Name: count, dtype: int64

In [44]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged_busiest.pkl'))

In [45]:
df_ords_prods_merge.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_last_order', 'first_order',
       'add_to_cart_order', 'reordered', '_merge', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_period_of_day'],
      dtype='object')